ENVIRONMENT=prod
DRIVER=~fastapi+~httpx+~websockets

QQ_IS_SANDBOX=false
QQ_BOTS=[{"id":1234567890,"token":"","secret":"YOUR_APP_SECRET","intent":{"c2c_group_at_messages":true,"direct_message":true,"at_messages":true},"use_websocket":true}]

MCS_URL=http://127.0.0.1:23333
MCS_API_KEY=YOUR_MCS_API_KEY
MCS_DAEMON_ID=YOUR_DAEMON_ID
MCS_INSTANCE_UUID=YOUR_INSTANCE_UUID

INSTANCE_NAME=Minecraft Server
ADMIN_USER_IDS=YOUR_QQ_OFFICIAL_USER_OPENID
REPORT_GROUP_OPENID=YOUR_GROUP_OPENID

TOTAL_DISK_GB=2000
ENABLE_HOURLY_REPORT=true
REPORT_INTERVAL_SECONDS=3600
REPORT_FIRST_DELAY_SECONDS=180

PUBLIC_MC_HOST=
PUBLIC_MC_PORT=25565
#可能需要外部探针